
@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 216 27% 94%;
    --foreground: 240 10% 3.9%;
    
    --card: 216 27% 94%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 216 27% 94%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    
    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-[#e8edf3] text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.glass-card {
  @apply bg-secondary/30 backdrop-blur-xl border border-white/10 shadow-lg;
}

.hover-card {
  @apply transition-all duration-300 hover:scale-[1.02] hover:shadow-xl cursor-pointer;
}

.animated-grad {
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  background-size: 200% 200%;
  animation: gradientMove 8s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
